<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".app.AppPgmImageViewer"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PGMImageViewer">

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.activity.ActivityPictureViewer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="content"
                    android:mimeType="text/plain"
                    android:pathSuffix=".txt" />
                <data
                    android:scheme="file"
                    android:mimeType="text/plain"
                    android:pathSuffix=".txt" />
                <data android:scheme="content" android:pathSuffix=".txt" />
                <data android:scheme="file" android:pathSuffix=".txt" />
                <data
                    android:scheme="content"
                    android:mimeType="application/yaml"
                    android:pathSuffix=".yaml" />
                <data
                    android:scheme="file"
                    android:mimeType="application/yaml"
                    android:pathSuffix=".yaml" />
                <data
                    android:scheme="content"
                    android:mimeType="application/x-yaml"
                    android:pathSuffix=".yaml" />
                <data
                    android:scheme="file"
                    android:mimeType="application/x-yaml"
                    android:pathSuffix=".yaml" />
                <data
                    android:scheme="content"
                    android:mimeType="text/yaml"
                    android:pathSuffix=".yaml" />
                <data
                    android:scheme="file"
                    android:mimeType="text/yaml"
                    android:pathSuffix=".yaml" />
                <data
                    android:scheme="content"
                    android:mimeType="text/x-yaml"
                    android:pathSuffix=".yaml" />
                <data
                    android:scheme="file"
                    android:mimeType="text/x-yaml"
                    android:pathSuffix=".yaml" />
                <data android:scheme="content" android:pathSuffix=".yaml" />
                <data android:scheme="file" android:pathSuffix=".yaml" />
                <data
                    android:scheme="content"
                    android:mimeType="application/yaml"
                    android:pathSuffix=".yml" />
                <data
                    android:scheme="file"
                    android:mimeType="application/yaml"
                    android:pathSuffix=".yml" />
                <data
                    android:scheme="content"
                    android:mimeType="application/x-yaml"
                    android:pathSuffix=".yml" />
                <data
                    android:scheme="file"
                    android:mimeType="application/x-yaml"
                    android:pathSuffix=".yml" />
                <data
                    android:scheme="content"
                    android:mimeType="text/yaml"
                    android:pathSuffix=".yml" />
                <data
                    android:scheme="file"
                    android:mimeType="text/yaml"
                    android:pathSuffix=".yml" />
                <data
                    android:scheme="content"
                    android:mimeType="text/x-yaml"
                    android:pathSuffix=".yml" />
                <data
                    android:scheme="file"
                    android:mimeType="text/x-yaml"
                    android:pathSuffix=".yml" />
                <data android:scheme="content" android:pathSuffix=".yml" />
                <data android:scheme="file" android:pathSuffix=".yml" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" android:mimeType="text/plain" />
                <data android:scheme="file" android:mimeType="text/plain" />
                <data android:scheme="content" android:mimeType="application/yaml" />
                <data android:scheme="file" android:mimeType="application/yaml" />
                <data android:scheme="content" android:mimeType="application/x-yaml" />
                <data android:scheme="file" android:mimeType="application/x-yaml" />
                <data android:scheme="content" android:mimeType="text/yaml" />
                <data android:scheme="file" android:mimeType="text/yaml" />
                <data android:scheme="content" android:mimeType="text/x-yaml" />
                <data android:scheme="file" android:mimeType="text/x-yaml" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" android:mimeType="*/*" />
                <data android:scheme="file" android:mimeType="*/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="content"
                    android:mimeType="image/x-portable-graymap"
                    android:pathSuffix=".pgm" />
                <data
                    android:scheme="content"
                    android:mimeType="image/x-portable-graymap"
                    android:pathSuffix=".pmg" />
                <data
                    android:scheme="file"
                    android:mimeType="image/x-portable-graymap"
                    android:pathSuffix=".pgm" />
                <data
                    android:scheme="file"
                    android:mimeType="image/x-portable-graymap"
                    android:pathSuffix=".pmg" />
                <data
                    android:scheme="content"
                    android:mimeType="application/x-portable-graymap"
                    android:pathSuffix=".pgm" />
                <data
                    android:scheme="content"
                    android:mimeType="application/x-portable-graymap"
                    android:pathSuffix=".pmg" />
                <data
                    android:scheme="file"
                    android:mimeType="application/x-portable-graymap"
                    android:pathSuffix=".pgm" />
                <data
                    android:scheme="file"
                    android:mimeType="application/x-portable-graymap"
                    android:pathSuffix=".pmg" />
                <data
                    android:scheme="content"
                    android:mimeType="image/x-portable-anymap"
                    android:pathSuffix=".pgm" />
                <data
                    android:scheme="content"
                    android:mimeType="image/x-portable-anymap"
                    android:pathSuffix=".pmg" />
                <data
                    android:scheme="file"
                    android:mimeType="image/x-portable-anymap"
                    android:pathSuffix=".pgm" />
                <data
                    android:scheme="file"
                    android:mimeType="image/x-portable-anymap"
                    android:pathSuffix=".pmg" />
                <data android:scheme="content" android:pathSuffix=".pgm" />
                <data android:scheme="content" android:pathSuffix=".pmg" />
                <data android:scheme="file" android:pathSuffix=".pgm" />
                <data android:scheme="file" android:pathSuffix=".pmg" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ActivityReaderStats"
            android:exported="false" />

        <activity
            android:name=".ui.activity.ActivityFileTransferStats"
            android:exported="false"
            android:label="@string/file_transfer_stats_title"
            android:theme="@style/Theme.PGMImageViewer" />

        <activity
            android:name=".ui.activity.ActivityFileTransferClientDetails"
            android:exported="false"
            android:label="@string/file_transfer_client_details_title"
            android:theme="@style/Theme.PGMImageViewer" />

        <activity
            android:name=".ui.activity.ActivityTools"
            android:exported="false"
            android:label="@string/tools_title"
            android:theme="@style/Theme.PGMImageViewer" />

        <activity
            android:name=".ui.activity.ActivityAboutApp"
            android:exported="false"
            android:label="@string/about_app_title"
            android:theme="@style/Theme.PGMImageViewer" />

        <activity
            android:name=".ui.activity.ActivityWebSocketDashboard"
            android:exported="false"
            android:label="@string/tools_dashboard"
            android:theme="@style/Theme.PGMImageViewer" />

        <service
            android:name=".websocket.WebSocketService"
            android:exported="false"
            android:foregroundServiceType="remoteMessaging" />
    </application>

</manifest>
